*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(87, 87, 87);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.parent{
    perspective: 500px;
}
.child{
    width: 250px;
    height: 250px;
    background-color: rgb(172, 186, 18);
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    transform: rotate(0deg);
    transform: rotate(0deg);
}
